<div class='home-body'>

  <div class='landing'>
    <h1>Coy Toy Box</h1>
    <div class='landing-img'></div>
  </div>

  <div id='about'></div>
  <div class='white'>
    <h3>About us</h3>
    <p>
      <strong>What’s in the box? You’ll never guess.</strong>
      That’s what our good friend Matt told us as he recounted a salacious story about the time his movers almost found his and his partner’s strangest sex toy. <i>“It’s the most incriminating thing I own, and it’s nothing like you’ve ever seen,”</i> he said with a smile.
      <br><br>
      What could it be? We were filled with curiosity. We tossed out a tame guess: A sex swing? “No,” he laughed. Then, something slightly more fringe: Hogtie bondage hardware? ...Wrong again Our guesses got wild: A clown-faced blow-up doll? An alien finger anal probe?! ...Nope. Keep guessing.
      <br><br>
      Frustrated, we gave up. But we still wondered. Over the years, we’ve asked many others what they think it could be, and we’ve gotten answers ranging from hilarious to awe-inspiring to downright twisted.
      <br><br>
      According to Matt, we still haven’t guessed correctly. But in posing this question to our friends, we realized that people have some pretty cool ideas. The conversation became less about what was actually in the box and more about what could be in the box. That is, if it existed. We learned that there are tons of toys that people can dream up, but that aren’t real. <strong>Yet.</strong>
    </p>
  </div>

  <div id='how'></div>
  <div class='white'>
    <h3>How it works</h3>
    <p>
      It got us thinking, why not try to bring these fantasies to life? So we’re turning to the place where imagination truly runs wild: the internet. <strong>Bring us your ideas – your hot, kinky, silly, outlandish, bold, and bright ideas.</strong>
      <br><br>
      With your help, we’ll pick the best ones, get them made, and make (wet) dreams come true.
      <br><br>
      Want an eight-armed octopus dildo for your wild orgies? Done. A hand-shaped slapper that’s perfect for spanking yourself? Yes. Something else? Let’s do it.
    </p>
  </div>
  <div class='white'>
    <h3>DOIN' IT</h3>
    <p>
      <strong>We’re taking ideas through DATE, TIME.</strong> After that, we’ll be letting people vote for their favorites. Then, we’ll work with our partner factories to bring the winning ideas to life. This could take 6-9 months <img src='https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/PNG/16px/240-evil.png'> , but it’s kind of like tantric -- it’s better if you wait.
      <br><br>
      And no matter how strange your idea, you’re welcomed here. Come one, come all. (See what we did there?)
      <br><br>
      But seriously, the only reasons we’ll draw the line and reject your idea are if it would violate another person’s privacy, serves as a personal attack, or is otherwise spiteful. That is -- racism, sexism, xenophobia, or other such forms of hate are not welcome. No demeaning ideas or commentary based on race, ethnicity, religion, gender identity, disability, or sexual orientation will be considered. Other than those (very reasonable) restrictions, we want you to go wild.
    </p>
  </div>
  <div class='white'>
    <h3 class='no-shit'>NO SHIT (UNLESS YOU’RE INTO THAT)</h3>
    <p>
      No matter what ideas win, we promise to produce well-designed, thoughtfully made products that do you right. And you shouldn’t have to choose between pleasuring yourself and poisoning yourself, so all products will be:
    </p>
    <ul>
      <li>non-toxic</li>
      <li>body-safe</li>
      <li>phthalate-free products</li>
    </ul>
    <p>
      Your satisfaction is important, and so is that of the people who will put these products together. No humans will be harmed in the making: everything will be manufactured non-exploitatively, under ethical labor standards at trusted partner factories in the USA.
    </p>
    <h3>SHARING THE LOVE</h3>
    <p class='cent-p'>
      We’ll also be donating X% of proceeds from product sales to PARTNER ORGANIZATION.
      <br><br>
      HELP US CHOOSE WINNING IDEAS
    </p>
    <div class='cent-a'>
      <a href="">Sign up for our newsletter to be notified when voting starts!</a>
    </div>
  </div>
  <div id='submit'></div>
  <div id='submit-idea'>
    <div class='submit-response'>
      <% if flash[:error] %>
        <h3>
          <%= flash[:error] %>
        </h3>
      <% end %>
      <% if flash[:success] %>
        <h3>
          <%= flash[:success] %>
        </h3>
      <% end %>
      <% if flash[:notice] %>
        <h3>
          <%= flash[:notice] %>
        </h3>
      <% end %>
    </div>
    <h3>Submit Your Idea</h3>
    <h5>Got an idea burning a hole through your pants? Submit it now. We’re taking ideas through DATE, TIME.</h5>
    <%= form_for :idea, url: "/ideas", method: "post" do |f| %>
      <h5>Idea</h5>
      <%= f.text_field :idea_name %>

      <h5>More Detail</h5>
      <%= f.text_field :description %>

      <h5>Author, Email, Optional</h5>
      <%= f.text_field :author %><br>
      <div class='captcha'>

        <div class='simple_captcha'>
          <div class='simple_captcha_image'>
            <%= simple_captcha_options[:image] %>
          </div>

          <div class='simple_captcha_field'>
            <%= simple_captcha_options[:field] %>
          </div>

        <!--   <div class='simple_captcha_label'>
            <h3>
              <%= simple_captcha_options[:label] %>
            </h3>
          </div> -->

          <div class='simple_captcha_refresh_button'>
            <%= simple_captcha_options[:refresh_button] %>
          </div>
        </div>

      </div>
      <br>
      <div class='submit-button'>
        <h5>
          <%= f.submit "Submit Idea" %>
        </h5>
      </div>
    <% end %>
  </div>
</div>
