<div class='home-body'>

  <div class='landing'>
    <h1>Coy Toy Box</h1>
    <div class='landing-img'></div>
  </div>

  <div id='about'></div>
  <div class='white'>
    <h3>About us</h3>
    <p>
      <strong>What’s in the box? You’ll never guess.</strong>
      That’s what our good friend Matt told us as he recounted a salacious story about the time his movers almost found his and his partner’s strangest sex toy. <strong>“It’s the most incriminating thing I own, and it’s nothing like you’ve ever seen,”</strong> he said with a smile.
      <br><br>
      What could it be? We were filled with curiosity. A X, we guessed?! No. A Y?! No. A Z?! Try again.
      <br><br>
      Frustrated, we gave up. But we still wondered. Over the years, we’ve asked many others what they think it could be, and we’ve gotten answers ranging from hilarious to awe-inspiring to downright twisted.
      <br><br>
      According to Matt, we still haven’t guessed correctly. But in posing this question to our friends, we realized that people have some pretty cool ideas. The conversation became less about what was actually in the box and more about what could be in the box. That is, if it existed. We learned that there are tons of toys that people can dream up, but that aren’t real. Yet.
    </p>
  </div>

  <div id='how'></div>
  <div class='white'>
    <h3>How it works</h3>
    <p>
      It got us thinking, why not try to bring these fantasies to life? So we’re turning to the place where imagination truly runs wild: the internet. <strong>Bring us your ideas – your hot, kinky, silly, outlandish, bold, and bright ideas.</strong>
      <br><br>
      With your help, we’ll pick the best ones, get them made, and make (wet) dreams come true.
      <br><br>
      Want an eight-armed octopus dildo for your wild orgies? Done. Alien finger anal probe? Yes. Something else? Let’s do it.
      <br><br>
      We’re taking ideas through DATE, TIME. After that, we’ll be letting people vote for their favorites. Then, we’ll work with our partner factories to bring the winning ideas to life. This could take <strong>6-9 months  </strong><img src='https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/PNG/16px/240-evil.png'> , but it’s kind of like tantric -- it’s better if you wait.
      <br><br>
      And no matter how strange your idea, you’re welcomed here. Come one, come all. (See what we did there?)
      <br><br>
      But seriously, the only reasons we’ll draw the line and reject your idea are if it would violate another person’s privacy, serves as a personal attack, or is otherwise spiteful. That is -- racism, sexism, xenophobia, or other such forms of hate are not welcome. No demeaning ideas or commentary based on race, ethnicity, religion, gender identity, disability, or sexual orientation will be considered. Other than those (very reasonable) restrictions, we want you to go wild.
    </p>
  </div>
  <div class='white'>
    <h3>US made, high grade silicone</h3>
    <p>
      No matter what ideas win, we promise to produce <strong>well-designed, thoughtfully made products</strong>. You shouldn’t have to choose between pleasuring yourself and poisoning yourself, so all products will be:
    </p>
    <ul>
      <li>non-toxic</li>
      <li>body-safe</li>
      <li>phthalate-free products</li>
    </ul>
    <p>
      And because we’re a love-for-all type of community, <strong>everything will be manufactured non-exploitatively, under ethical labor standards at trusted partner factories in the USA.</strong>
    </p>
    <h3>Donation to LGBTQ+</h3>
    <p>
      We’ll also be donating X% of proceeds from product sales to PARTNER ORGANIZATION because we believe that REASON WE CHOSE THIS ORG.
    </p>
  </div>
  <div id='submit'></div>
  <div id='submit-idea'>
    <div class='submit-response'>
      <% if flash[:error] %>
        <h3>
          <%= flash[:error] %>
        </h3>
      <% end %>
      <% if flash[:success] %>
        <h3>
          <%= flash[:success] %>
        </h3>
      <% end %>
      <% if flash[:notice] %>
        <h3>
          <%= flash[:notice] %>
        </h3>
      <% end %>
    </div>
    <h3>Submit Your Idea</h3>
    <%= form_for :idea, url: "/ideas", method: "post" do |f| %>
      <h5>Idea</h5>
      <%= f.text_field :idea_name %>

      <h5>More Detail</h5>
      <%= f.text_field :description %>

      <h5>Author, Email, Optional</h5>
      <%= f.text_field :author %><br>
      <div class='captcha'>

        <div class='simple_captcha'>
          <div class='simple_captcha_image'>
            <%= simple_captcha_options[:image] %>
          </div>

          <div class='simple_captcha_field'>
            <%= simple_captcha_options[:field] %>
          </div>

        <!--   <div class='simple_captcha_label'>
            <h3>
              <%= simple_captcha_options[:label] %>
            </h3>
          </div> -->

          <div class='simple_captcha_refresh_button'>
            <%= simple_captcha_options[:refresh_button] %>
          </div>
        </div>

      </div>
      <br>
      <div class='submit-button'>
        <h5>
          <%= f.submit "Submit Idea" %>
        </h5>
      </div>
    <% end %>
  </div>
</div>
