<!DOCTYPE html>
<html>
  <head>
    <title>YoullNeverGuess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrap">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
      <% if flash[:success] %>
        <%= flash[:success] %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
